# No se debe actualizar el directorio PyGUI ya que tiene repositorio propio en GitHub
PyGUI/

# No subir ni actualizar los recursos sin usar
recursosSinUsar/

# Archivos sublime
*.sublime-workspace
*.sublime-project

# Archivos de codigo optimizado de python
*.pyc

# Archivos del tipo .fuse_hidden000029e500000001 que no se que son
.fuse_hidden*
